In [14]:
from telemetry.mavlogparse import Telemetry
import json
import ipywidgets as widgets
from IPython.display import display

In [18]:
#@markdown ### Select Fields:
field_selection_method = 'Use default fields' #@param ['Use default fields', 'Extract available fields', 'Upload json fields file']
if field_selection_method == 'Use default fields':
    fields = Telemetry.DEFAULT_FIELDS
elif field_selection_method == 'Extract available fields':
    Telemetry.get_useful_fields(tlogs)
    print('\nModify useful.json in the file explorer from the sidebar to only')
    print('include the fields you want. (Double-click to view/edit)\n')
    button = widgets.Button(description="Done")
    def submit(b):
        global fields
        with open('useful.json') as file:
            fields = json.load(file)
        print('\nFields successfully loaded')
    button.on_click(submit)
    display(button)
else:
    print('Upload json file of desired fields:')
    fields = json.loads(upload_one_file())

In [22]:
fields

{'VFR_HUD': ['heading', 'alt', 'climb'],
 'VIBRATION': ['vibration_x', 'vibration_y', 'vibration_z'],
 'SCALED_IMU2': ['xacc', 'xgyro', 'yacc', 'ygyro', 'zacc', 'zgyro'],
 'ATTITUDE': ['roll', 'rollspeed', 'pitch', 'pitchspeed', 'yaw', 'yawspeed'],
 'SCALED_PRESSURE2': ['temperature']}

In [28]:
tlogs = 'home//pi//dev//uav//data-alignment//2022-06-15 12-12-21.tlog'

In [ ]:
#@markdown ### Combine Output CSVs?
combined_CSV_output_filename = "Don't Combine" #@param ["Don't Combine"] {allow-input: true}
if combined_CSV_output_filename == "Don't Combine":
    combined_CSV_output_filename = None
Telemetry.logs_to_csv(combined_CSV_output_filename, tlogs, fields)
print('\nRight click output csv(s) to download (from sidebar at left)')

In [ ]:
csvPath = 'data//2022-06-17_08-58-07_allParams.csv'
df = Telemetry.csv_to_df('2022-06-15 12-12-21.csv', timezone='US/Eastern')

## Official Workflow
- data//2022-06-17_08-58-07_allParams.csv => 237 useful columns
- data//ALLDATA-2022-06-17 08-58-07.csv => mismatched columns error
- removed 45 non conforming records in ALLDATA
- Now 246 useful columns

In [12]:
import pandas as pd

In [13]:
# load CSV
# Testing various versions
inputPath = 'data//ALLDATA-2022-06-17 08-58-07.csv'
file = open(inputPath)
CSVlines = len(file.readlines())
print(CSVlines)
#df = pd.read_csv(inputPath, skiprows=i, nrows=self.numRec)
df = pd.read_csv(inputPath, low_memory=False)
df.shape

19317

(19316, 496)

In [19]:
# show all columns to drop extras at end
for c in df.columns:
    print(c)

timestamp
ADSB_VEHICLE.ICAO_address
ADSB_VEHICLE.lat
ADSB_VEHICLE.lon
ADSB_VEHICLE.altitude_type
ADSB_VEHICLE.altitude
ADSB_VEHICLE.heading
ADSB_VEHICLE.hor_velocity
ADSB_VEHICLE.ver_velocity
ADSB_VEHICLE.callsign
ADSB_VEHICLE.emitter_type
ADSB_VEHICLE.tslc
ADSB_VEHICLE.flags
ADSB_VEHICLE.squawk
AHRS.omegaIx
AHRS.omegaIy
AHRS.omegaIz
AHRS.error_rp
AHRS.error_yaw
AHRS2.roll
AHRS2.pitch
AHRS2.yaw
AHRS3.roll
AHRS3.pitch
AHRS3.yaw
AHRS3.altitude
AHRS3.lat
AHRS3.lng
ATTITUDE.time_boot_ms
ATTITUDE.roll
ATTITUDE.pitch
ATTITUDE.yaw
ATTITUDE.rollspeed
ATTITUDE.pitchspeed
ATTITUDE.yawspeed
AUTOPILOT_VERSION_REQUEST.target_component
BATTERY2.voltage
BATTERY2.current_battery
BATTERY_STATUS.voltages
BATTERY_STATUS.id
BATTERY_STATUS.current_battery
BATTERY_STATUS.current_consumed
BATTERY_STATUS.energy_consumed
BATTERY_STATUS.battery_remaining
BATTERY_STATUS.temperature
COMMAND_ACK.command
COMMAND_LONG.target_component
COMMAND_LONG.command
COMMAND_LONG.param1
COMMAND_LONG.param3
DISTANCE_SENSOR.time_boot_ms
DISTANCE_SENSOR.current_distance
EKF_STATUS_REPORT.flags
EKF_STATUS_REPORT.velocity_variance
EKF_STATUS_REPORT.pos_horiz_variance
EKF_STATUS_REPORT.pos_vert_variance
EKF_STATUS_REPORT.compass_variance
FILE_TRANSFER_PROTOCOL.target_system
FILE_TRANSFER_PROTOCOL.target_component
FILE_TRANSFER_PROTOCOL.payload
GLOBAL_POSITION_INT.time_boot_ms
GLOBAL_POSITION_INT.lon
GLOBAL_POSITION_INT.alt
GLOBAL_POSITION_INT.relative_alt
GLOBAL_POSITION_INT.vz
GLOBAL_POSITION_INT.lat
GLOBAL_POSITION_INT.vx
GLOBAL_POSITION_INT.vy
GLOBAL_POSITION_INT.hdg
GPS_GLOBAL_ORIGIN.time_usec
GPS_RAW_INT.time_usec
GPS_RAW_INT.lat
GPS_RAW_INT.lon
GPS_RAW_INT.alt
GPS_RAW_INT.eph
GPS_RAW_INT.epv
GPS_RAW_INT.vel
GPS_RAW_INT.cog
GPS_RAW_INT.satellites_visible
GPS_RAW_INT.h_acc
GPS_RAW_INT.v_acc
GPS_RAW_INT.vel_acc
GPS_RAW_INT.fix_type
HEARTBEAT.type
HEARTBEAT.base_mode
HEARTBEAT.system_status
HEARTBEAT.autopilot
HEARTBEAT.custom_mode
HOME_POSITION.time_usec
HWSTATUS.Vcc
LOCAL_POSITION_NED.time_boot_ms
LOCAL_POSITION_NED.x
LOCAL_POSITION_NED.y
LOCAL_POSITION_NED.z
LOCAL_POSITION_NED.vx
LOCAL_POSITION_NED.vy
LOCAL_POSITION_NED.vz
MEMINFO.freemem32
MISSION_ACK.type
MISSION_ACK.target_system
MISSION_ACK.target_component
MISSION_COUNT.target_system
MISSION_COUNT.target_component
MISSION_CURRENT.seq
MISSION_ITEM_INT.target_system
MISSION_ITEM_INT.target_component
MISSION_ITEM_INT.x
MISSION_ITEM_INT.y
MISSION_ITEM_INT.z
MISSION_ITEM_INT.seq
MISSION_ITEM_INT.frame
MISSION_ITEM_INT.command
MISSION_ITEM_INT.param1
MISSION_ITEM_INT.param4
MISSION_ITEM_REACHED.seq
MISSION_REQUEST.seq
MISSION_REQUEST_INT.seq
NAV_CONTROLLER_OUTPUT.nav_roll
NAV_CONTROLLER_OUTPUT.nav_pitch
NAV_CONTROLLER_OUTPUT.nav_bearing
NAV_CONTROLLER_OUTPUT.alt_error
NAV_CONTROLLER_OUTPUT.xtrack_error
NAV_CONTROLLER_OUTPUT.target_bearing
NAV_CONTROLLER_OUTPUT.wp_dist
PARAM_REQUEST_LIST.target_component
PARAM_REQUEST_READ.target_component
PARAM_REQUEST_READ.param_index
PARAM_VALUE.param_id
PARAM_VALUE.param_value
PARAM_VALUE.param_type
PARAM_VALUE.param_index
POSITION_TARGET_GLOBAL_INT.time_boot_ms
POSITION_TARGET_GLOBAL_INT.lat_int
POSITION_TARGET_GLOBAL_INT.lon_int
POSITION_TARGET_GLOBAL_INT.alt
POWER_STATUS.Vcc
POWER_STATUS.Vservo
RANGEFINDER.distance
RAW_IMU.time_usec
RAW_IMU.xacc
RAW_IMU.yacc
RAW_IMU.zacc
RAW_IMU.xgyro
RAW_IMU.ygyro
RAW_IMU.zgyro
RAW_IMU.xmag
RAW_IMU.ymag
RAW_IMU.zmag
RAW_IMU.temperature
RC_CHANNELS.time_boot_ms
RC_CHANNELS.chan2_raw
RC_CHANNELS.chan3_raw
RC_CHANNELS.chan4_raw
RC_CHANNELS.chan5_raw
RC_CHANNELS.chan9_raw
RC_CHANNELS.chan12_raw
RC_CHANNELS.chan1_raw
RC_CHANNELS.chan7_raw
RC_CHANNELS.chan8_raw
RC_CHANNELS.chan10_raw
RC_CHANNELS.chan6_raw
REQUEST_DATA_STREAM.req_stream_id
REQUEST_DATA_STREAM.req_message_rate
REQUEST_DATA_STREAM.target_component
RPM.rpm1
SCALED_IMU2.time_boot_ms
SCALED_IMU2.xacc
SCALED_IMU2.yacc
SCALED_IMU2.zacc
SCALED_IMU2.xgyro
SCALED_IMU2.ygyro
SCALED_IMU2.zgyro
SCALED_IMU2.xmag
SCALED_IMU2.ymag
SCALED_IMU2.zmag
SCALED_IMU3.time_boot_ms
SCALED_IMU3.xacc
SCALED_IMU3.yacc
SCALED_IMU3.zacc
SCALED_IMU3.xgyro
SCALED_IMU3.ygyro
SCALED_IMU3.zgyro
SCALED_IMU3.xmag
SCALED_IMU3.ymag
SCALED_IMU3.zmag
SCALED_IMU3.temperature
SCALED_PRESSURE.time_boot_ms
SCALED_PRESSURE.press_abs
SCALED_PRESSURE.temperature
SCALED_PRESSURE2.time_boot_ms
SCALED_PRESSURE2.press_abs
SCALED_PRESSURE2.temperature
SENSOR_OFFSETS.raw_press
SENSOR_OFFSETS.raw_temp
SENSOR_OFFSETS.mag_declination
SENSOR_OFFSETS.gyro_cal_x
SENSOR_OFFSETS.gyro_cal_y
SENSOR_OFFSETS.gyro_cal_z
SERVO_OUTPUT_RAW.time_usec
SERVO_OUTPUT_RAW.servo1_raw
SERVO_OUTPUT_RAW.servo2_raw
SERVO_OUTPUT_RAW.servo3_raw
SERVO_OUTPUT_RAW.servo4_raw
SERVO_OUTPUT_RAW.servo5_raw
SERVO_OUTPUT_RAW.servo8_raw
SERVO_OUTPUT_RAW.servo6_raw
STATUSTEXT.text
STATUSTEXT.severity
SYSTEM_TIME.time_unix_usec
SYSTEM_TIME.time_boot_ms
SYS_STATUS.onboard_control_sensors_enabled
SYS_STATUS.onboard_control_sensors_health
SYS_STATUS.load
SYS_STATUS.voltage_battery
SYS_STATUS.onboard_control_sensors_present
SYS_STATUS.battery_remaining
TERRAIN_CHECK.lat
TERRAIN_CHECK.lon
TERRAIN_REPORT.lat
TERRAIN_REPORT.lon
TERRAIN_REPORT.terrain_height
TERRAIN_REPORT.current_height
TERRAIN_REPORT.pending
TERRAIN_REPORT.loaded
TIMESYNC.tc1
TIMESYNC.ts1
VFR_HUD.airspeed
VFR_HUD.groundspeed
VFR_HUD.heading
VFR_HUD.throttle
VFR_HUD.alt
VFR_HUD.climb
VIBRATION.time_usec
VIBRATION.vibration_x
VIBRATION.vibration_y
VIBRATION.vibration_z
VIBRATION.clipping_2
UNKNOWN_1
UNKNOWN_2
UNKNOWN_3
UNKNOWN_4
UNKNOWN_5
UNKNOWN_6
UNKNOWN_7
UNKNOWN_8
UNKNOWN_9
Unnamed: 246
Unnamed: 247
Unnamed: 248
Unnamed: 249
Unnamed: 250
Unnamed: 251
Unnamed: 252
Unnamed: 253
Unnamed: 254
Unnamed: 255
Unnamed: 256
Unnamed: 257
Unnamed: 258
Unnamed: 259
Unnamed: 260
Unnamed: 261
Unnamed: 262
Unnamed: 263
Unnamed: 264
Unnamed: 265
Unnamed: 266
Unnamed: 267
Unnamed: 268
Unnamed: 269
Unnamed: 270
Unnamed: 271
Unnamed: 272
Unnamed: 273
Unnamed: 274
Unnamed: 275
Unnamed: 276
Unnamed: 277
Unnamed: 278
Unnamed: 279
Unnamed: 280
Unnamed: 281
Unnamed: 282
Unnamed: 283
Unnamed: 284
Unnamed: 285
Unnamed: 286
Unnamed: 287
Unnamed: 288
Unnamed: 289
Unnamed: 290
Unnamed: 291
Unnamed: 292
Unnamed: 293
Unnamed: 294
Unnamed: 295
Unnamed: 296
Unnamed: 297
Unnamed: 298
Unnamed: 299
Unnamed: 300
Unnamed: 301
Unnamed: 302
Unnamed: 303
Unnamed: 304
Unnamed: 305
Unnamed: 306
Unnamed: 307
Unnamed: 308
Unnamed: 309
Unnamed: 310
Unnamed: 311
Unnamed: 312
Unnamed: 313
Unnamed: 314
Unnamed: 315
Unnamed: 316
Unnamed: 317
Unnamed: 318
Unnamed: 319
Unnamed: 320
Unnamed: 321
Unnamed: 322
Unnamed: 323
Unnamed: 324
Unnamed: 325
Unnamed: 326
Unnamed: 327
Unnamed: 328
Unnamed: 329
Unnamed: 330
Unnamed: 331
Unnamed: 332
Unnamed: 333
Unnamed: 334
Unnamed: 335
Unnamed: 336
Unnamed: 337
Unnamed: 338
Unnamed: 339
Unnamed: 340
Unnamed: 341
Unnamed: 342
Unnamed: 343
Unnamed: 344
Unnamed: 345
Unnamed: 346
Unnamed: 347
Unnamed: 348
Unnamed: 349
Unnamed: 350
Unnamed: 351
Unnamed: 352
Unnamed: 353
Unnamed: 354
Unnamed: 355
Unnamed: 356
Unnamed: 357
Unnamed: 358
Unnamed: 359
Unnamed: 360
Unnamed: 361
Unnamed: 362
Unnamed: 363
Unnamed: 364
Unnamed: 365
Unnamed: 366
Unnamed: 367
Unnamed: 368
Unnamed: 369
Unnamed: 370
Unnamed: 371
Unnamed: 372
Unnamed: 373
Unnamed: 374
Unnamed: 375
Unnamed: 376
Unnamed: 377
Unnamed: 378
Unnamed: 379
Unnamed: 380
Unnamed: 381
Unnamed: 382
Unnamed: 383
Unnamed: 384
Unnamed: 385
Unnamed: 386
Unnamed: 387
Unnamed: 388
Unnamed: 389
Unnamed: 390
Unnamed: 391
Unnamed: 392
Unnamed: 393
Unnamed: 394
Unnamed: 395
Unnamed: 396
Unnamed: 397
Unnamed: 398
Unnamed: 399
Unnamed: 400
Unnamed: 401
Unnamed: 402
Unnamed: 403
Unnamed: 404
Unnamed: 405
Unnamed: 406
Unnamed: 407
Unnamed: 408
Unnamed: 409
Unnamed: 410
Unnamed: 411
Unnamed: 412
Unnamed: 413
Unnamed: 414
Unnamed: 415
Unnamed: 416
Unnamed: 417
Unnamed: 418
Unnamed: 419
Unnamed: 420
Unnamed: 421
Unnamed: 422
Unnamed: 423
Unnamed: 424
Unnamed: 425
Unnamed: 426
Unnamed: 427
Unnamed: 428
Unnamed: 429
Unnamed: 430
Unnamed: 431
Unnamed: 432
Unnamed: 433
Unnamed: 434
Unnamed: 435
Unnamed: 436
Unnamed: 437
Unnamed: 438
Unnamed: 439
Unnamed: 440
Unnamed: 441
Unnamed: 442
Unnamed: 443
Unnamed: 444
Unnamed: 445
Unnamed: 446
Unnamed: 447
Unnamed: 448
Unnamed: 449
Unnamed: 450
Unnamed: 451
Unnamed: 452
Unnamed: 453
Unnamed: 454
Unnamed: 455
Unnamed: 456
Unnamed: 457
Unnamed: 458
Unnamed: 459
Unnamed: 460
Unnamed: 461
Unnamed: 462
Unnamed: 463
Unnamed: 464
Unnamed: 465
Unnamed: 466
Unnamed: 467
Unnamed: 468
Unnamed: 469
Unnamed: 470
Unnamed: 471
Unnamed: 472
Unnamed: 473
Unnamed: 474
Unnamed: 475
Unnamed: 476
Unnamed: 477
Unnamed: 478
Unnamed: 479
Unnamed: 480
Unnamed: 481
Unnamed: 482
Unnamed: 483
Unnamed: 484
Unnamed: 485
Unnamed: 486
Unnamed: 487
Unnamed: 488
Unnamed: 489
Unnamed: 490
Unnamed: 491
Unnamed: 492
Unnamed: 493
Unnamed: 494
Unnamed: 495

In [24]:
# remove 250 extraneous columns at the end
dfDrop = df.drop(df.iloc[:, 246:496],axis = 1)
dfDrop.shape

(19316, 246)

In [25]:
dfDrop.columns

Index(['timestamp', 'ADSB_VEHICLE.ICAO_address', 'ADSB_VEHICLE.lat',
       'ADSB_VEHICLE.lon', 'ADSB_VEHICLE.altitude_type',
       'ADSB_VEHICLE.altitude', 'ADSB_VEHICLE.heading',
       'ADSB_VEHICLE.hor_velocity', 'ADSB_VEHICLE.ver_velocity',
       'ADSB_VEHICLE.callsign',
       ...
       'VIBRATION.clipping_2', 'UNKNOWN_1', 'UNKNOWN_2', 'UNKNOWN_3',
       'UNKNOWN_4', 'UNKNOWN_5', 'UNKNOWN_6', 'UNKNOWN_7', 'UNKNOWN_8',
       'UNKNOWN_9'],
      dtype='object', length=246)

In [30]:
dfDrop.head()

,timestamp,ADSB_VEHICLE.ICAO_address,ADSB_VEHICLE.lat,ADSB_VEHICLE.lon,ADSB_VEHICLE.altitude_type,ADSB_VEHICLE.altitude,ADSB_VEHICLE.heading,ADSB_VEHICLE.hor_velocity,ADSB_VEHICLE.ver_velocity,ADSB_VEHICLE.callsign,...,VIBRATION.clipping_2,UNKNOWN_1,UNKNOWN_2,UNKNOWN_3,UNKNOWN_4,UNKNOWN_5,UNKNOWN_6,UNKNOWN_7,UNKNOWN_8,UNKNOWN_9
0,1655470712,12607118,419586944,-830713344,0,10972800,24371,18777,65,JZA741,...,0.112403,245,0,236.080002,0.057993,1241430613,0.021145,0.033484,0.032791,0
1,1655470712,12607118,419586944,-830713344,0,10972800,24371,18777,65,JZA741,...,0.112403,245,0,236.080002,0.057993,1241430613,0.021145,0.033484,0.032791,0
2,1655470712,12607118,419586944,-830713344,0,10972800,24371,18777,65,JZA741,...,0.112403,245,0,236.080002,0.057993,1241430613,0.021145,0.033484,0.032791,0
3,1655470712,12607118,419586944,-830713344,0,10972800,24371,18777,65,JZA741,...,0.112403,245,0,236.080002,0.057993,1241430613,0.021145,0.033484,0.032791,0
4,1655470712,12607118,419586944,-830713344,0,10972800,24371,18777,65,JZA741,...,0.112403,245,0,236.080002,0.057993,1241430613,0.021145,0.033484,0.032791,0

In [34]:
# create new dataframe with only ['VFR_HUD.groundspeed','VFR_HUD.heading'] 
dfGPS = dfDrop[['VFR_HUD.groundspeed','VFR_HUD.heading']]
dfDropGPS = dfGPS.dropna()
dfDropGPS.head()

   VFR_HUD.groundspeed  VFR_HUD.heading
0            425460676       -831951825
1            425460676       -831951825
2            425460676       -831951825
3            425460676       -831951825
4            425460676       -831951825

In [36]:
# format geographic coordinates
def addDec(coord):
    test = float(coord)
    if test > 0:
        cStr = str(coord)[:-2]
        return float((f'{cStr[:2]}.{cStr[2:]}'))
    if test < 0:
        cStr = str(coord)[:-2]
        return float((f'{cStr[:3]}.{cStr[2:]}'))

def fixCoords(df1, coordFields):
    for c in coordFields:
        df1[c] = df1[c].apply(addDec)
    return df1

# coord = -831947797.0
# #print(addDec(coord))

# coordFields = ['ADSB_VEHICLE.lat', 'ADSB_VEHICLE.lon', 'AHRS3.lat', 'AHRS3.lng']
# # Coord fields not contain valid geometry 
# # 'GLOBAL_POSITION_INT.lat', 'GLOBAL_POSITION_INT.lon', 'TERRAIN_REPORT.lat','TERRAIN_REPORT.lon' ]

# dfFormat = fixCoords(df, coordFields)
# dfFormat.head()

In [37]:
# 'VFR_HUD.groundspeed','VFR_HUD.heading'
dfDropGPS['VFR_HUD.heading'] = dfDropGPS['VFR_HUD.heading'].apply(addDec)
dfDropGPS['VFR_HUD.groundspeed'] = dfDropGPS['VFR_HUD.groundspeed'].apply(addDec)
dfDropGPS.head()

   VFR_HUD.groundspeed  VFR_HUD.heading
0             42.54606       -83.319518
1             42.54606       -83.319518
2             42.54606       -83.319518
3             42.54606       -83.319518
4             42.54606       -83.319518

In [39]:
dfDropGPS.to_csv('data//GPS-VFR_HUD.csv')

In [41]:
# 'ADSB_VEHICLE.lat', 'ADSB_VEHICLE.lon'
# create new dataframe with only ['ADSB_VEHICLE.lat', 'ADSB_VEHICLE.lon'] 
dfGPS = dfDrop[['ADSB_VEHICLE.lat', 'ADSB_VEHICLE.lon']]
dfDropGPS = dfGPS.dropna()
dfDropGPS.head()

   ADSB_VEHICLE.lat  ADSB_VEHICLE.lon
0         419586944        -830713344
1         419586944        -830713344
2         419586944        -830713344
3         419586944        -830713344
4         419586944        -830713344

In [42]:
# 'VFR_HUD.groundspeed','VFR_HUD.heading'
dfDropGPS['ADSB_VEHICLE.lat'] = dfDropGPS['ADSB_VEHICLE.lat'].apply(addDec)
dfDropGPS['ADSB_VEHICLE.lon'] = dfDropGPS['ADSB_VEHICLE.lon'].apply(addDec)
dfDropGPS.head()

   ADSB_VEHICLE.lat  ADSB_VEHICLE.lon
0          41.95869        -83.307133
1          41.95869        -83.307133
2          41.95869        -83.307133
3          41.95869        -83.307133
4          41.95869        -83.307133

In [43]:
dfDropGPS.to_csv('data//GPS-ADSB_VEHICLE.csv')

In [ ]:
coordFields = ['ADSB_VEHICLE.lat', 'ADSB_VEHICLE.lon', 'AHRS3.lat', 'AHRS3.lng', 'GLOBAL_POSITION_INT.lat',
'GLOBAL_POSITION_INT.lon', 'TERRAIN_REPORT.lat','TERRAIN_REPORT.lon', 'GPS_RAW_INT.lat',
'LOCAL_POSITION_NED.x','MISSION_ITEM_INT.x','POSITION_TARGET_GLOBAL_INT.lat_int','TERRAIN_REPORT.lat']

In [45]:
# 'AHRS3.lat', 'AHRS3.lng'
# create new dataframe with only ['ADSB_VEHICLE.lat', 'ADSB_VEHICLE.lon'] 
dfGPS = dfDrop[['AHRS3.lat', 'AHRS3.lng']]
dfDropGPS = dfGPS.dropna()
#dfDropGPS.head()
# 'VFR_HUD.groundspeed','VFR_HUD.heading'
dfDropGPS['AHRS3.lat'] = dfDropGPS['AHRS3.lat'].apply(addDec)
dfDropGPS['AHRS3.lng'] = dfDropGPS['AHRS3.lng'].apply(addDec)
dfDropGPS.head()
# 
dfDropGPS.to_csv('data//GPS-AHRS3.csv')

In [55]:
# 'GLOBAL_POSITION_INT.lat', 'GLOBAL_POSITION_INT.lon'
# create new dataframe with only ['ADSB_VEHICLE.lat', 'ADSB_VEHICLE.lon'] 
dfGPS = dfDrop[['GLOBAL_POSITION_INT.lat', 'GLOBAL_POSITION_INT.lon']]
dfDropGPS = dfGPS.dropna()
dfDropGPS.head(50)
# 'VFR_HUD.groundspeed','VFR_HUD.heading'
# dfDropGPS['GLOBAL_POSITION_INT.lat'] = dfDropGPS['GLOBAL_POSITION_INT.lat'].apply(addDec)
# dfDropGPS['GLOBAL_POSITION_INT.lon'] = dfDropGPS['GLOBAL_POSITION_INT.lon'].apply(addDec)
# dfDropGPS.head()
# # 
# dfDropGPS.to_csv('data//GPS-GLOBAL_POSITION_INT.csv')

    GLOBAL_POSITION_INT.lat  GLOBAL_POSITION_INT.lon
0                  0.004025                      895
1                  0.004025                      895
2                  0.004025                      895
3                  0.004025                      895
4                  0.004025                      895
5                  0.004025                      895
6                  0.004025                      895
7                  0.004025                      895
8                  0.004025                      895
9                  0.004025                      895
10                 0.004025                      895
11                 0.004025                      895
12                 0.004025                      895
13                 0.004025                      895
14                 0.004025                      895
15                 0.004025                      895
16                 0.004025                      895
17                 0.004025                      895
18                 0.004025                      895
19                 0.004025                      895
20                 0.004025                      895
21                 0.004025                      895
22                 0.004025                      895
23                 0.004025                      895
24                 0.004025                      895
25                 0.004025                      895
26                 0.004025                      895
27                 0.004025                      895
28                 0.004025                      895
29                 0.004025                      895
30                 0.004025                      895
31                 0.004025                      895
32                 0.004025                      895
33                 0.004025                      895
34                 0.004025                      895
35                 0.004025                      895
36                 0.004025                      895
37                 0.004025                      895
38                 0.004025                      895
39                 0.004025                      895
40                 0.004025                      895
41                 0.004025                      895
42                 0.004025                      895
43                 0.004025                      895
44                 0.004025                      895
45                 0.004025                      895
46                 0.004025                      895
47                 0.004025                      895
48                 0.004025                      895
49                 0.059122                      831

## Additional Workflows

In [ ]:
for c in df.columns:
    print(c)

In [5]:
# drop NaN row values
df = df.dropna()
df.shape

(2265, 487)

In [ ]:
coordFields = ['ADSB_VEHICLE.lat', 'ADSB_VEHICLE.lon', 'AHRS3.lat', 'AHRS3.lng', 'GLOBAL_POSITION_INT.lat',
               'GLOBAL_POSITION_INT.lon', 'TERRAIN_REPORT.lat','TERRAIN_REPORT.lon' ]
df['Unnamed: 237']

In [40]:
coordFields = ['ADSB_VEHICLE.lat', 'ADSB_VEHICLE.lon', 'AHRS3.lat', 'AHRS3.lng', 'GLOBAL_POSITION_INT.lat',
'GLOBAL_POSITION_INT.lon', 'TERRAIN_REPORT.lat','TERRAIN_REPORT.lon', 'GPS_RAW_INT.lat',
'LOCAL_POSITION_NED.x','MISSION_ITEM_INT.x','POSITION_TARGET_GLOBAL_INT.lat_int','TERRAIN_REPORT.lat']
for i, c in enumerate(coordFields):
    print(f'{c} - {df[c]}')

ADSB_VEHICLE.lat - 0        41.95869
1        41.95869
2        41.95869
3        41.95869
4        41.95869
           ...
19311    43.00300
19312    43.00300
19313    43.00300
19314    43.00300
19315    43.00300
Name: ADSB_VEHICLE.lat, Length: 19316, dtype: float64
ADSB_VEHICLE.lon - 0       -83.307133
1       -83.307133
2       -83.307133
3       -83.307133
4       -83.307133
           ...
19311   -82.295552
19312   -82.295552
19313   -82.295552
19314   -82.295552
19315   -82.295552
Name: ADSB_VEHICLE.lon, Length: 19316, dtype: float64
AHRS3.lat - 0        42.54606
1        42.54606
2        42.54606
3        42.54606
4        42.54606
           ...
19311    42.53768
19312    42.53768
19313    42.53768
19314    42.53768
19315    42.53768
Name: AHRS3.lat, Length: 19316, dtype: float64
AHRS3.lng - 0       -83.319518
1       -83.319518
2       -83.319518
3       -83.319518
4       -83.319518
           ...
19311   -83.318531
19312   -83.318531
19313   -83.318531
19314   -83.318531
19315   -83.318531
Name: AHRS3.lng, Length: 19316, dtype: float64
GLOBAL_POSITION_INT.lat - 0        0.004025
1        0.004025
2        0.004025
3        0.004025
4        0.004025
           ...
19311    0.003068
19312    0.003068
19313    0.003068
19314    0.003068
19315    0.003068
Name: GLOBAL_POSITION_INT.lat, Length: 19316, dtype: float64
GLOBAL_POSITION_INT.lon - 0        895
1        895
2        895
3        895
4        895
        ...
19311    895
19312    895
19313    895
19314    895
19315    895
Name: GLOBAL_POSITION_INT.lon, Length: 19316, dtype: int64
TERRAIN_REPORT.lat - 0        1241415
1        1241415
2        1241415
3        1241415
4        1241415
          ...
19311          0
19312          0
19313          0
19314          0
19315          0
Name: TERRAIN_REPORT.lat, Length: 19316, dtype: int64
TERRAIN_REPORT.lon - 0        325164335
1        325164335
2        325164335
3        325164335
4        325164335
           ...
19311            0
19312            0
19313            0
19314            0
19315            0
Name: TERRAIN_REPORT.lon, Length: 19316, dtype: int64
GPS_RAW_INT.lat - 0        236100
1        236030
2        236030
3        236030
4        236030
          ...
19311       129
19312       129
19313       129
19314       129
19315       129
Name: GPS_RAW_INT.lat, Length: 19316, dtype: int64
LOCAL_POSITION_NED.x - 0        3
1        3
2        3
3        3
4        3
        ..
19311    0
19312    0
19313    0
19314    0
19315    0
Name: LOCAL_POSITION_NED.x, Length: 19316, dtype: int64
MISSION_ITEM_INT.x - 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
19311    0.0
19312    0.0
19313    0.0
19314    0.0
19315    0.0
Name: MISSION_ITEM_INT.x, Length: 19316, dtype: float64
POSITION_TARGET_GLOBAL_INT.lat_int - 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
19311    0.0
19312    0.0
19313    0.0
19314    0.0
19315    0.0
Name: POSITION_TARGET_GLOBAL_INT.lat_int, Length: 19316, dtype: float64
TERRAIN_REPORT.lat - 0        1241415
1        1241415
2        1241415
3        1241415
4        1241415
          ...
19311          0
19312          0
19313          0
19314          0
19315          0
Name: TERRAIN_REPORT.lat, Length: 19316, dtype: int64

In [41]:
dfDrop['GLOBAL_POSITION_INT.lat']= dfDrop['GLOBAL_POSITION_INT.lat'].astype(str)

In [ ]:
coordFields = ['GLOBAL_POSITION_INT.lat', 'GLOBAL_POSITION_INT.lon']
# Coord fields not contain valid geometry 
# 'GLOBAL_POSITION_INT.lat', 'GLOBAL_POSITION_INT.lon', 'TERRAIN_REPORT.lat','TERRAIN_REPORT.lon' ]

dfDrop['GLOBAL_POSITION_INT.lat'] = dfDrop['GLOBAL_POSITION_INT.lat'].apply(addDec)

#dfFormat = fixCoords(dfDrop, coordFields)
dfFormat.head()

In [125]:
dfFormat.to_csv('data//06-17_08-58-07_edit.csv')